<launch>
  <arg name="model" default="$(find stationlite)/urdf/stationlite.urdf" />
  <arg name="model_name" default="stationlite" />
  <arg name="paused" default="false" />
  <arg name="gui" default="true" />

  <include
    file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="$(arg paused)" />
    <arg name="gui" value="$(arg gui)" />
  </include>

  <param name="robot_description" textfile="$(arg model)" />

  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-urdf -param robot_description -model $(arg model_name) -x 0 -y 0 -z 0 -R 0 -P 0 -Y 0"
    output="screen" />

  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher"
    output="screen" />
</launch>
